
body, html {
    height: 100%;
    margin: 0;
    font-family: TitleFont;
    font-size: 15px;
    background-color: #127cab;
    color: #344b3c;
}
@font-face {
    font-family: TitleFont;
    src: url(SpecialElite-Regular.ttf);
  }
@font-face {
    font-family: SubTitleFont;
    src: url(ShadowsIntoLight-Regular.ttf);
}  

.titlebox {
    color: rgb(29, 28, 28);
    background-image: url("images/cover_cropped.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #a1a444 ;
    border-style: outset;
    border-radius: 5px;
}

h1 {
    font-family: TitleFont;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: SubTitleFont;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
}  

.mainBox {
    justify-content: center;
    background-color:#a3d9ec;
    margin: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border: #a1a444;
    border-style: solid;
    border-radius: 10px;
    line-height: 30px;
 
}

.indent {
    text-indent: 50px;
}

.first-letter {
    initial-letter: 50;
    font-size: 70px;
    color: darkslategrey;
    font-family: TitleFont;
    font-weight: bolder;
    font-feature-settings: "vjmo";
  }

#quote {
    color: #a1a444;
    font-size: 12px;
    font-weight: bolder;
    text-align: right;
    }

#personName {
    color: #a1a444;
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
}      

.adventureBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color:#a3d9ec;
    margin: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border: #a1a444;
    border-style: solid;
    border-radius: 10px;
    line-height: 30px;
}
.adventureTitle {
    text-align: center;
    font-size: 35px;
    color: #344b3c;
    flex: 100%;
}

.adventureDescription {
    position: relative;
    height: 200px;
    width: 400px;
    float: left;
    margin: 4px;
    background-size: 100%;
    background-position: center;
    transition: .5s;
    /* text-align: center; */
    border-radius: 10px;
}

.adventureDescription:hover {
    background-size: 110%;
    border-radius: 10px;
}

.adventureDescription:after{
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: #a1a444;
    opacity: .8;
    color: rgb(26, 53, 11);
    font-weight: bolder;
    padding: 0 8px;
    content: attr(data-text);
    transition: .5s;
    border-radius: 10px;
}

.adventureDescription:hover::after {
    top: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0,6);
    border-radius: 10px;
}

.adventureDescription::first-line {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    margin: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    border: #a1a444;
    border-style: solid;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    color: white;
  }

  #copyright {
    background-color: rgb(151, 167, 81);
    font-size: 25px;
  }

  #references {
    color: white;
    font-size: 13px;
    margin-left: 10px;
  }